@font-face {
  font-family: 'icomoon';
  src: url('../fonts/eot/icomoon.eot?gp0b69');
  src: url('../fonts/eot/icomoon.eot?gp0b69#iefix') format('embedded-opentype'),
    url('../fonts/ttf/icomoon.ttf?gp0b69') format('truetype'),
    url('../fonts/woff/icomoon.woff?gp0b69') format('woff'),
    url('../fonts/svg/icomoon.svg?gp0b69#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "\e902";
}
.icon-arrow-left:before {
  content: "\e903";
}
.icon-arrow-right:before {
  content: "\e965";
}
.icon-arrow-up:before {
  content: "\e966";
}
.icon-chevron-down:before {
  content: "\e967";
}
.icon-chevron-left:before {
  content: "\e968";
}
.icon-chevron-right:before {
  content: "\e969";
}
.icon-chevron-up:before {
  content: "\e96a";
}
.icon-arrow3 .path1:before {
  content: "\e904";
  color: rgb(0, 0, 0);
}
.icon-arrow3 .path2:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-arrow-down-2:before {
  content: "\e901";
}
.icon-other-services .path1:before {
  content: "\e90e";
  color: rgb(0, 0, 0);
}
.icon-other-services .path2:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-other-services .path3:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-other-services .path4:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-airplane:before {
  content: "\e900";
}
.icon-attraction-map:before {
  content: "\e906";
}
.icon-attraction:before {
  content: "\e907";
}
.icon-back:before {
  content: "\e908";
}
.icon-bathtub:before {
  content: "\e909";
}
.icon-bed:before {
  content: "\e90a";
}
.icon-breakfast:before {
  content: "\e90b";
}
.icon-calendar:before {
  content: "\e90c";
}
.icon-call-2:before {
  content: "\e90d";
}
.icon-camera:before {
  content: "\e90f";
}
.icon-cancel:before {
  content: "\e910";
}
.icon-category:before {
  content: "\e911";
}
.icon-certification:before {
  content: "\e912";
}
.icon-check-f2:before {
  content: "\e913";
}
.icon-cloud:before {
  content: "\e914";
}
.icon-comment:before {
  content: "\e915";
}
.icon-comment-1:before {
  content: "\e916";
}
.icon-confirm:before {
  content: "\e917";
}
.icon-dashboard:before {
  content: "\e918";
}
.icon-delete:before {
  content: "\e919";
}
.icon-distance:before {
  content: "\e91a";
}
.icon-download:before {
  content: "\e91b";
}
.icon-edit:before {
  content: "\e91c";
}
.icon-education:before {
  content: "\e91d";
}
.icon-facebook:before {
  content: "\e91e";
}
.icon-flag-1:before {
  content: "\e91f";
}
.icon-flag-2:before {
  content: "\e920";
}
.icon-flight:before {
  content: "\e921";
}
.icon-fullscreen:before {
  content: "\e922";
}
.icon-glob-icon:before {
  content: "\e923";
}
.icon-hair-dryer:before {
  content: "\e924";
}
.icon-handle:before {
  content: "\e925";
}
.icon-hotel:before {
  content: "\e926";
}
.icon-image:before {
  content: "\e927";
}
.icon-information:before {
  content: "\e928";
}
.icon-instagram-icon:before {
  content: "\e929";
}
.icon-insurance:before {
  content: "\e92a";
}
.icon-invoice-onlinecheck:before {
  content: "\e92b";
}
.icon-iron:before {
  content: "\e92c";
}
.icon-like-1:before {
  content: "\e92d";
}
.icon-like-stroke:before {
  content: "\e92e";
}
.icon-location:before {
  content: "\e930";
}
.icon-logout:before {
  content: "\e931";
}
.icon-mail-stroke:before {
  content: "\e932";
}
.icon-mail:before {
  content: "\e933";
}
.icon-map-location:before {
  content: "\e934";
}
.icon-mini-bar:before {
  content: "\e935";
}
.icon-not-smoking:before {
  content: "\e936";
}
.icon-official-account:before {
  content: "\e937";
}
.icon-passengers:before {
  content: "\e939";
}
.icon-phone-icon:before {
  content: "\e93a";
}
.icon-phone-register:before {
  content: "\e93b";
}
.icon-places:before {
  content: "\e93c";
}
.icon-plain:before {
  content: "\e93d";
}
.icon-privacy:before {
  content: "\e93e";
}
.icon-profile:before {
  content: "\e93f";
}
.icon-qrcode-scan:before {
  content: "\e940";
}
.icon-refrigrator .path1:before {
  content: "\e941";
  color: rgb(0, 0, 0);
}
.icon-refrigrator .path2:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-refrigrator .path3:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-refrigrator .path4:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-refrigrator .path5:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-refrigrator .path6:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-report:before {
  content: "\e947";
}
.icon-restaurant:before {
  content: "\e948";
}
.icon-room-service:before {
  content: "\e949";
}
.icon-search-icon-sidebar:before {
  content: "\e94b";
}
.icon-search:before {
  content: "\e94c";
}
.icon-setting:before {
  content: "\e94d";
}
.icon-share:before {
  content: "\e94e";
}
.icon-shopping-bag:before {
  content: "\e94f";
}
.icon-shoppingcart:before {
  content: "\e950";
}
.icon-shower:before {
  content: "\e951";
}
.icon-smoking:before {
  content: "\e952";
}
.icon-solid-toilet:before {
  content: "\e953";
}
.icon-star-stroke:before {
  content: "\e954";
}
.icon-star:before {
  content: "\e955";
}
.icon-support:before {
  content: "\e956";
}
.icon-tea-kettle:before {
  content: "\e957";
}
.icon-time:before {
  content: "\e958";
}
.icon-tourpackage:before {
  content: "\e959";
}
.icon-train:before {
  content: "\e95a";
}
.icon-translate:before {
  content: "\e95b";
}
.icon-transportation:before {
  content: "\e95c";
}
.icon-verify-2:before {
  content: "\e95d";
}
.icon-verify:before {
  content: "\e95e";
}
.icon-view:before {
  content: "\e95f";
}
.icon-wechat:before {
  content: "\e960";
}
.icon-weibo:before {
  content: "\e961";
}
.icon-wifi:before {
  content: "\e962";
}
.icon-window:before {
  content: "\e963";
}
.icon-your-location:before {
  content: "\e964";
}
